*, *:before, *:after 
    box-sizing: border-box
body 
    font-family: 'Futura Book', sans-serif
    font-size: 14px

.section
    &-title
        text-align: center
        text-transform: uppercase
        font-size: 20px
        font-family: 'Yeseva One', cursive
        &__image
            &::before, &::after
                content: ''
                display: inline-block
                vertical-align: text-top
                width: 32px
                height: 2px
                border-radius: 30px
                background-color: $gold
                

                

