.header 
    position: fixed
    top: 0
    left: 0
    width: 100%
    z-index: 10
    background-color: $dark
    padding: 22px 0
.menu 
    display: flex
    justify-content: space-between
    align-items: center
.logo 
    color: $gold
    text-transform: uppercase
.nav
    margin: 0 10px
    &__item
        margin-right: 40px
        text-decoration: none
        text-transform: uppercase
        color: $white
        transition: color 0.5s
        &:hover
            color: $gold
        &:last-child
            margin-right: 0


.phone
    color: $gold
.contacts
    &__phone
        margin-right: 45px
    &__button
        border-radius: 2px